@use 'reset';
@use 'variables/global';
@use 'variables/utils/mixin';
@use 'variables/utils/variables';

body {
  font-family: var(--font-family-sans);
  background-color: var(--background);
  color: var(--foreground);
}

html {
  font-size: clamp(0.688rem, 0.464rem + 0.595vw, 1rem);
  @include mediaMin($desktop-max-width) {
    font-size: calc(16 / (1440 / 100) * 1vw);
  }
}

.app {
  min-height: 100%;
}
