.footer {
  display: flex;
  justify-content: space-between;
  font-size: rem(18);
  color: #727272;
  margin-bottom: rem(20);
}
.nav {
  &_container {
    display: flex;
    column-gap: rem(32);
    a {
      transition: color 0.3s ease;
      &:hover {
        color: var(--foreground);
      }
    }
  }
}
