.preview {
  display: flex;
  column-gap: rem(30);
  margin-top: rem(30);
}
.main_poster {
  position: relative;

  &__img {
    height: 100%;
    aspect-ratio: 2 / 1;
    z-index: -1;
    border-radius: rem(12);
  }
  &__desc {
    position: absolute;
    bottom: rem(16);
    left: rem(16);
  }
}
.sub_poster {
  &__container {
    width: 35%;
    display: flex;
    row-gap: rem(30);
    flex-direction: column;
  }
}
