.text {
  font-weight: 500;
  display: flex;
  align-items: center;
  font-size: rem(14);
  line-height: 150%;
  color: #f8f8ff;
  &_group {
    display: flex;
  }
  &_title {
    // font-family: var(--font-family-jost);
    font-weight: 700;
    font-size: rem(14);
    line-height: 150%;
    color: #f8f8ff;
  }
}
